.message {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.message__header {
  font-size: 18px;
  font-weight: bold;
}

.message--error {
  background-color: red;
  border-color: green;
  color: #fff;
}
